@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

main {
   margin: 22px;
   /* Content should only be 60ch, but this is the "extended" width for code snippets that
      can have horizontal scrolling. device-width is set to a default zoom to make only
      60ch visible by default. */
   width: 90ch;
}

body {
   font-family: "PT Mono", monospace;
   font-size: 18pt;
   background-color:#002952;
   color: #eee;
   margin-top: 0px;
   white-space: pre;
}

/* Mostly for the comment page. */
input, textarea, select, option {
   font-family: inherit;
   font-size: inherit;
   background-color: #002952;
   color: inherit;
   border: none;
   padding: 0px;
}

textarea:focus {
   outline: none;
}

/* Max width is the content width. */
img {
   max-width: 60ch;
}

/* Style submit buttons just like links. */
a, input[type="submit"] {
   color: #3ef;
   cursor: pointer;
   text-decoration: underline;
}
