@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

main {
   margin: 22px;
   width: 90ch;
   
}

body {
   font-family: "PT Mono", monospace;
   font-size: 18pt;
   background-color:#002952;
   color: #eee;
   margin-top: 0px;
   white-space: pre;
}

pre {
   font-family: inherit;
   font-size: 18pt;
   display: table;
   border-collapse: separate;
   display: inline-block;

}

input, textarea, select, option {
   font-family: inherit;
   font-size: inherit;
   background-color: #002952;
   color: inherit;
   border: none;
   padding: 0px;
}

textarea:focus {
   outline: none;
}

img {
   max-width: 60ch;
}

a, input[type="submit"] {
   color: #3ef;
   cursor: pointer;
   text-decoration: underline;
}

